@media screen and (max-width: 1250px) {
  .container {
    padding: 0px 20px 0px 20px;
  }
}

@media screen and (max-width: 1005px) {
  .help__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    width: 90%;
  }
  .link-item p {
    margin-left: 15px;
  }
  .title {
    font-size: 30px;
  }
  .menu-icon {
    display: -ms-grid;
    display: grid;
    position: absolute;
    right: 10px;
    top: 40px;
  }
  .pet-card__img img {
    max-width: 100%;
    height: 100%;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #352a24;
    z-index: 1;
    margin-top: 80px;
    overflow: auto;
  }
  .menu-active {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  .header__list {
    display: block;
  }
  .header__item {
    margin-top: 20px;
    margin-left: 0px;
  }
  .header {
    padding-top: 20px;
  }
  body.lock {
    overflow: hidden;
  }
  .header__link {
    font-size: 20px;
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 774px) {
  .pet-card {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .header {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .main-screen__text {
    width: 60%;
  }
  #first {
    background: url(../img/main-bg.jpg) no-repeat left center/cover;
  }
  .about__image img {
    max-width: 100%;
  }
  .about__text {
    width: 100%;
    font-size: 14px;
  }
  .title {
    font-size: 25px;
  }
  .help__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .donation {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .link {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .link__title {
    font-size: 25px;
  }
  .link-item {
    font-size: 14px;
    letter-spacing: 0px;
  }
  .link-item p {
    margin-left: 18px;
  }
  .card {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .modal {
    max-width: 100%;
  }
  .header {
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
  }
  .main-screen__title {
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 37px;
  }
  .main-screen__text {
    width: 80%;
    line-height: 20px;
  }
  .about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about__image img {
    max-width: 100%;
    margin-top: 50px;
  }
  .help__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .help-item {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .help__title {
    margin-bottom: 30px;
  }
  .card__number {
    font-size: 16px;
    letter-spacing: 0px;
  }
  .donation-content__desc {
    width: 80%;
  }
  .link__title {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0px;
  }
  .link-item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    line-height: 15px;
  }
  .slider-container {
    padding: 0px;
  }
}
/*# sourceMappingURL=media.css.map */